{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Task Manager!</h1>
            <h3>Author: Rokas Stašys</h3>

            <a href="/list" class="btn btn-primary">Check your tasks</a>
        </div>
    </div>
    <br>
{% endblock %}